*{
	/*outline: #bd081c 1px solid*/
}

body {
	margin: 75px 0 0 0;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	align-items: stretch;
	font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
}

header {
	position: fixed;
	height: 75px;
	width: 100vw;
	top: 0;
	z-index: 10;
}

nav {
	width: 100%;
	height: 100%;
	display: flex;
	background: white;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: space-around;
	line-height: 75px;
}

footer {
	width: 100%;
	display: none;
	background: white;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: space-around;
	line-height: 75px;
	position: fixed;
	bottom: 0;
}

.o-img-icon {
	height: 2rem;
	padding-left: 1rem;
}



#Logo {
	flex-grow: 1;
}

#Msgs,
#Not,
#Menu {
	flex-grow: 1;
	color: #8e8e8e;
	font-size: 1.5rem;
	cursor: pointer;
}

#Inicio,
#Siguiendo,
#Explorar,
#User {
	flex-grow: 2;
	color: #8e8e8e;
	font-weight: bolder;
	font-size: 1.1rem;
	cursor: pointer;
	text-align: center;
}

#searchbar {
	flex-grow: 18;
	display: flex;
	justify-content: flex-start;
	height: 80%;
	padding-left: 1rem;
	align-items: center;
}

#searchbar input {
	width: 90%;
	height: 60%;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding-left: 3rem;
	color: #8e8e8e;
	font-size: 1rem;
	font-weight: bolder;
	background-color: #F3F2F2;
	border: none;
}

.o-search-icon {
	position: absolute;
	color: #8e8e8e;
	font-size: 1.3rem;
	cursor: pointer;
	padding-left: 1rem
}

div.col {
	width: 20%;
	padding: 0 1rem 0 1rem;
	box-sizing:border-box;
}

div.col > div {
	width: 100%;
	margin: 2rem 0rem 2rem 0rem;
	border-radius: 1rem;
	cursor: zoom-in;
}

div.col div.dos {
	height: auto;
	background-color: #D8D8D8;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

div.col div.dos:hover{
	padding:0.5rem 0.5rem 2rem 0.5rem;

}
div.col div.cuatro {
	height: auto;
	background-color: #D8D8D8;
	position: relative;
}
div.col div.cuatro:hover{
	padding:0.5rem 0.5rem 2rem 0.5rem;
}

div.col div.seis {
	height: auto;
	background-color: #D8D8D8;
	position: relative;
}
div.col div.seis:hover{
	padding:0.5rem 0.5rem 2rem 0.5rem;
}



div.col div img {
	height: 100%;
	width: 100%;
	border-radius: 1rem;
}

.o-save-btn {
	background-color: #bd081c;
	position: absolute;
	border-radius: 5px;
	color: white;
	font-size: 0.8rem;
	font-weight: bolder;
	text-align: center;
	padding-top: 0.3rem;
	top: 5px;
	right: 5px;
	height: 1.8rem;
	width: 5rem;
	padding-top: 10px;
}

.o-visible {
	visibility: visible;
}

.o-fixed-icon {
	padding-right: 0.4rem;
	font-size: 1rem;
}

.o-hidden {
	visibility: hidden;
}

bottom-bar{
	width: 100%
}

@media (max-width: 375px){
    div.col{
        width: 50%;
		padding: 0 0.5%;
		padding: 0 1rem 0 1rem;
	}
	

    nav #Logo 
    ,nav #Inicio
    ,nav #Siguiendo
    ,nav #Explorar
    ,nav #User
    ,nav #Not
    ,nav #Menu{
        display: none;
	}
	#searchbar input {
		width: 80%;
	}

	nav #Msgs{
		margin-right: 1rem;
	}
	nav .o-img-icon{
		display: none;
	}
	footer{
        display: flex;
    }
	
}